:root {
    --primary-color: #7cc1ac;
    --secondary-color: #407770;
    --font-color: #37665f;
}

body {
  background-color: #EEFFFA;
}

strong { font-weight: bold; }

.overflow { overflow: hidden; }

.clearfix::after { content: ""; display: block; clear: both; }

.content { margin: auto; max-width: 1160px; width: 100%; }

/* Main header */
.main-header { background-color: var(--primary-color); height: 80px; position: fixed; top: 0; left: 0; width: 100%; z-index: 9999; box-shadow: 0 0 15px; }

.main-header .logo { float: left; text-decoration: none; color: white; position: relative; width: 145px; }
.main-header .logo span { position: absolute; font-family: 'lato', sans-serif; font-size: x-large; color: #EEFFFA; }
.main-header .logo .pizzo { top: 25%; right: 24px; }
.main-header .logo .news { bottom: 7%; right: 0; }
.main-header .logo figure { display: inline-block; }
.main-header .logo figure img { height: 60px; width: 100%; margin-top: 10px; }

.main-header nav { float: right; }
.main-header nav ul li { float: left; }
.main-header nav ul li a { line-height: 80px; height: 80px; text-decoration: none; color:white; padding: 0 10px; display: block; font-family: 'lato', sans-serif; transition: all 0.2s; border-bottom: 0 solid transparent; }
.main-header nav ul li a:hover { background-color: #5dafa4; border-bottom: 4px solid var(--secondary-color); transition: all 0.2s; }
.main-header nav ul li a strong { font-weight: bold; }

/* Expanding image bottom text */
.main-image .main-image-text { position: absolute; bottom: 0; left: 0; width: 100%; background: rgb(0, 0, 0, 0.4); color: white; transition: all 0.3s; border-radius: 0 0 5px 5px; border-left: 0 solid transparent; }
.main-image:hover .main-image-text { border-left: 5px solid var(--primary-color); background: rgb(0, 0, 0, 0.7); transition: all 0.3s; }
.main-image:hover img { opacity: 0.8; transition: all 0.3s; }

/* Hero */
.hero { margin: 100px 0 0 0; }
.hero a { position: relative; display: block; text-decoration: none; }
.hero a h1 { padding: 20px; font-family: 'lato', sans-serif; font-size: 30px; }
.hero a:hover h1 { padding-top: 60px; padding-bottom: 60px; padding-left: 15px; }
.hero a figure { height: 600px; overflow: hidden; position: relative; border-radius: 5px; box-shadow: 0 0 5px #000; }
.hero a figure img { height: 100%; width: 100%; object-fit: cover; }

/* Three news section */
.three-news .content { max-width: 1180px; width: 100%; }
.three-news ul li { padding: 20px 10px; width: 33.3333%; height: 280px; float: left; }
.three-news ul li a { display: block; position:relative; text-decoration: none; }
.three-news ul li a h3 { padding: 10px; font-family: 'lato', sans-serif; font-size: 20px; }
.three-news ul li a:hover h3 { padding-bottom: 20px; padding-top: 20px; padding-left: 6px; }
.three-news ul li a figure { overflow: hidden; box-shadow: 0 0 5px #000; border-radius: 5px; }
.three-news ul li a figure img { width: 100%; height: 100%; object-fit: cover; object-position: 50% 10%; }

/* Other news */
.other-news { margin-top: 30px; }

.other-news .side-bar { width: 300px; position:absolute; z-index: 99; }
.other-news .side-bar ul { height: 180px; }
.other-news .side-bar ul li { margin-top: 10px; }
.other-news .side-bar ul li a { text-decoration: none; color: var(--font-color); display: inline-block; }
.other-news .side-bar ul li span { font-size: 25px; display: inline-block; }

.other-news .news-with-descriptions { padding-left: 320px; width: 100%; }
.other-news .news-with-descriptions ul li { margin-bottom: 50px; height: 150px; position: relative; }
.other-news .news-with-descriptions ul li figure { position: absolute; left: 20px; top: 20px; z-index: 100; }
.other-news .news-with-descriptions ul li figure img { height: 100px; width: 100px; object-fit: cover; border-radius: 5px; border: solid 2px #005e41; }
.other-news .news-with-descriptions ul li a { display: inline-block; text-decoration: none; color: var(--font-color); width: 100%; }
.other-news .news-with-descriptions ul li a .news-aside {padding: 10px; padding-left: 150px; height: 180px; width: 100%; position: relative; }
.other-news .news-with-descriptions ul li a .news-aside h3 { font-family: 'lato', sans-serif; font-size: 30px; display: inline-block; overflow: hidden; width: 100%; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.other-news .news-with-descriptions ul li a .news-aside p { margin-top: 10px; display: block; font-size: 16px; color: rgb(60,60,60); overflow: hidden; width: 100%; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; height: 4.1em; }
.other-news .news-with-descriptions ul li a .news-aside .read-more { margin-top: 15px; display: inline-block; font-size: 20px; position: absolute; bottom: 20px; }

/* Underline from left on hover */
a .underline::after { content: ''; width: 0px; height: 3px; display: block; background: var(--font-color); transition: 300ms; }
a:hover .underline::after { width: 100%; }

/* Main footer */
.main-footer { background-color: var(--primary-color); height: 80px; position: static; bottom: 0; width: 100%; box-shadow: 0 0 2px; margin-top: 100px;}
.main-footer p { line-height: 80px; height: 80px; color: white; text-align: center; font-size: 10px; text-align: center; }

/* Generic card */
.card { border-radius: 5px; border: solid 2px #005e41; padding: 10px; background-color: #defcf3; box-shadow: 0 0 2px; }

/* Modal */
.modal { height: 100%; width: 100%; background: rgba(0,0,0,0); position: fixed; top: 0; z-index: 9999; visibility: hidden; transition: all .7s; }
.modal.show-modal { visibility: visible; background: rgba(0,0,0,0.4); }
.modal.show-modal .modal-content { width: 90%; max-width: 600px; position: fixed; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%) rotate(0); padding: 30px; height: 300px; opacity: 1; }
.modal .modal-content { width: 90%; max-width: 600px; position: fixed; top: 50%; left: 50%; transform: translateX(-100vw) translateY(-50%); padding: 30px; height: 300px; transition: all .6s; transition-delay: 0.1s; opacity: 0; }
.modal .modal-content .text { overflow: auto; height: 100%; }
.modal .modal-content .text p { text-align: center; }
.modal .modal-content .close-modal { position: absolute; right: 0; top: 0; height: 30px; width: 30px; display: inline-block; line-height: 30px; text-align: center; cursor: pointer; }

/* Mobile stles */
@media screen and (max-width: 1280px) {
  .hero a figure { border-radius: 0; }

  .other-news { padding: 0 20px; }
  .other-news .side-bar { position: relative; width: 100%; margin-bottom: 20px; }
  .other-news .news-with-descriptions { padding-left: 0; }
}

@media screen and (max-width: 767px) {
  .three-news ul li { width: 100%; height: 280px; padding: 20px 20px; }

  .main-header nav { position: fixed; height: 100vh; background: var(--primary-color); width: 300px; transform: translateX(-320px); transition: all 0.6s; }
  .main-header nav ul li { float: none; }
  .main-header.show-menu nav { transform: translateX(0); transition: all 0.6s; }

  .main-header .logo { transform: translateX(0); transition: all 0.6s; }
  .main-header.show-menu .logo { transform: translateX(300px); transition: all 0.6s; }

  .main-header .close-box { top: 80px; height: calc(100vh - 80px); width: 100vw; position: absolute; display: block; background-color: transparent; opacity: 0; transition: all 0.4s; z-index: -1; pointer-events: none; }
  .main-header .hamburger { height: 45px; width: 50px; float: right; margin: 16px 16px 0 0; cursor: pointer; }
  .main-header .hamburger span { background: white; width: 100%; height: 5px; margin: 5px 0; display: inline-block; border-radius: 3px; transform: rotate(0) translateX(0); transition: all 0.3s; }
  .main-header.show-menu .hamburger .top-line { transform: translateY(16px) rotate(45deg); transition: all 0.3s; }
  .main-header.show-menu .hamburger .middle-line { transform: translateX(300px); transition: all 0.3s; }
  .main-header.show-menu .hamburger .bottom-line { transform: translateY(-14px) rotate(-45deg); transition: all 0.3s; }
  .main-header.show-menu .close-box { background-color: black; opacity: 0.6; transition: all 0.4s; pointer-events: auto; }
}

@media screen and (max-width: 540px) {
  .main-header.show-menu .logo { display: none; }

  .other-news .news-with-descriptions ul li a .news-aside { padding-left: 110px; }
  .other-news .news-with-descriptions ul li figure { top: 50px; }
  .other-news .news-with-descriptions ul li figure img { width: 70px; height: 70px; }
}

/* Plane */
@keyframes plane-movement {
  0% {
    transform: rotate(0) translateX(0) rotate(0);
  }

  15% {
    transform: rotate(-5deg) translateX(400px) rotate(5deg);
  }

  65% {
    transform: rotate(-45deg) translateX(1600px) rotate(45deg) ;
  }
  100% {
    transform: translateX(1100px) translateY(130%);
  }
}

@keyframes plane-rotation {
  15% {
    transform: rotate(-5deg);
  }
  65% {
    transform: rotate(-90deg);
  }
  66% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

.plane-movement { position: absolute ; left: 0; bottom: 0; width: 200px; height: 200px; z-index: 0; animation: plane-movement 3s linear forwards; }
.plane { animation: plane-rotation 3s linear forwards; }

.plane .plane-body { width: 200px; height: 100px; background-color: white; display: inline-block; position: absolute; top: 50px; border-radius: 100%; z-index: 2; border: black solid 2px; }
.plane .plane-body-mask { width: 196px; height: 96px; background-color: white; display: inline-block; position: absolute; border-radius: 100%; z-index: 1; }
.plane .tail { position: absolute; display: inline-block; width: 37px; height: 70px; background: white; border-top-right-radius: 100%; top: -20px; z-index: 1; border: black solid 2px; left: -2px; }
.plane .window { position: absolute; display: inline-block; width: 40px; height: 20px; background: black; z-index: 3; }
.plane .window.left { border-top-left-radius: 100%; left: 25px; top: 20px; }
.plane .window.middle { left: 80px; top: 20px; }
.plane .window.right { border-top-right-radius: 100%; right: 25px; top: 20px; }
.plane .wing { background: white; border: black solid 2px; border-top-color: black; border-top-style: solid; border-top-width: 2px; display: inline-block; width: 50px; height: 70px; left: 75px; position: absolute; top: 106px; border-bottom-left-radius: 100%; border-bottom-right-radius: 100%; border-top: transparent; z-index: 4; }
.plane .wing.up { transform: rotate(180deg); top: 20px; z-index: 1; }

/* Smoke */

@keyframes smoke {
  0% { transform: scale(0.5) translateY(0px); opacity: 0.5; }
  100% { transform: scale(8) translateY(-100px); opacity: 0; }
}

.smoke { width: 25px; height: 25px; display: inline-block; position: absolute; bottom: 20px; left: 1200px; background: rgb(80, 80, 80); z-index: 1000; border-radius: 100%; animation: smoke 2s linear infinite; opacity: 0; }
.smoke.smoke0 { animation-delay: 3.25s; }
.smoke.smoke1 { animation-delay: 3.75s; }
.smoke.smoke2 { animation-delay: 4.25s; }
.smoke.smoke3 { animation-delay: 4.75s; }
.smoke.smoke4 { animation-delay: 5.25s; }

/* Fire */

@keyframes fire-triangle {
  0% { transform: skewX(20deg); opacity: 0.75; }
  50% { transform: skewX(-20deg); opacity: 0.75; }
  100% { transform: skewX(20deg); opacity: 0.75; }
}

.fire { position: absolute; left: 1100px; bottom: 54px; }
.fire-container { display: inline-block }
.fire-container0 { transform: rotate(-20deg) translateY(-10px); }
.fire-container1 { transform: rotate(-10deg) translateY(-10px); }
.fire-container2 { transform: rotate(10deg) translateY(-10px); }
.fire-container3 { transform: rotate(20deg) translateY(-10px); }

.fire .triangle-outter { width: 0px; height: 0px; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 40px solid red; left: 50%; top: 50%; z-index: 1000;  animation: fire-triangle 2s linear infinite; position: relative; display: inline-block; opacity: 0; }
.fire .triangle-outter .triangle-inner { width: 0px; height: 0px; border-left: 11px solid transparent; border-right: 11px solid transparent; border-bottom: 30px solid orange; left: calc(50% + -11px); top: calc(50% + 10px); z-index: 1000; position: absolute; }

.fire .triangle-outter.triangle0 { animation-delay: 3.25s; }
.fire .triangle-outter.triangle1 { animation-delay: 3.65s; }
.fire .triangle-outter.triangle2 { animation-delay: 3.85s; }
.fire .triangle-outter.triangle3 { animation-delay: 4.25s; }
